body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ccc;
  margin: 0;

}


.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
